html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
}

.propoValeur {
    color: white;
    position: absolute;
    top: 11rem;
    left: 50%;
    font-size: 2rem;
    font-weight: 800;
    z-index: 1;
}

ul.barnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /*  height: 106px; */
}

ul.barnav li {
    float: right;
    margin-right: 4rem;
}

ul.barnav li a {
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    display: block;
}

ul.barnav li a:hover:not(.actif) {
    background-color: #7ffc02;
}

ul.barnav li a.actif {
    background-color: #a72d02;
}

/*  SLIDER  */

.slider {
    width: 400px;
    height: 230px;
    position: absolute;
    border: solid 1px #777;
    padding: 0;
    position: absolute;
    top: 0rem;
    width: 100%;
    margin: 180px auto;
    overflow: hidden;
}

#liste_images {
    list-style-type: none;
    display: flex;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
}

img {
    width: 1800px;
    height: 400px;
}

@keyframes slide {
    0% {
        left: 0;
    }
    9% {
        left: 0;
    }
    18% {
        left: -100%;
    }
    27% {
        left: -100%;
    }
    36% {
        left: -200%;
    }
    45% {
        left: -200%;
    }
    54% {
        left: -300%;
    }
    63% {
        left: -300%;
    }
    72% {
        left: -400%;
    }
    81% {
        left: -400%;
    }
    90% {
        left: -500%;
    }
    90% {
        left: -500%;
    }
    99% {
        left: -500%;
    }
    /* à la fin de l’anim, on ramène le bloc au départ très rapidement (en 0001%) et l’animation reprend depuis le début */
    99.9999% {
        left: 0;
    }
}

#liste_images {
    animation: slide 30s linear infinite;
}


.title {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

h2 {
    color: #7ffc02;
    font-size: 30px;
    position: absolute;
    top: 100px;
    left: 25px;
}

h1 {
    color: #fb4302;
    font-size: 48px;
    position: absolute;
    top: 10px;
    left: 25px;
}

.nav {
    display: inline;
    position: absolute;
    top: 7.8rem;
    left: 27rem;
    width: 620px;
}

.navigation {
    height: 100px;
}

footer {
    position: absolute;
    top: 95%;
    width: 98.5%;
    border-top: 3px solid #754614;
    padding-left: 20px;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    min-height: 25rem;
    top: 25rem;
    justify-content: space-around;
}

span {
    color: #754614;
}

h3 {
    border-bottom: 2px solid #754614;
}

.webdesignText, .frontendText, .backendText {
    padding-right: 2vw;
}

.webdesignText {
    width: 25vw;
    padding-left: 5vw;
}

.frontendText {
    width: 28vw;
}

.backendText {
    width: 24vw;
}

/*
.icon {
    height: 25px;
    width: 25px;
}
*/

/*MOBILE MOBILE */ 


@media screen and (max-width: 768px) {
    ul.barnav, ul.barnav li {
      h1 {
          position: absolute;
          top: 20px;
          left: 50%;
      }
    }
}
